<div class="form-floating mb-3">
  <select type="text" class="form-select" id="form-plan" formControlName="plan" [ngClass]="{
            'is-invalid': isInvalidPlan,
            'is-valid': parentForm.valid,
          }" [compareWith]="comparePlan">
    @for (plan of planList; track plan.id) {
      <option [ngValue]="plan">{{ planToLabel(plan) }}</option>
    }
  </select>
  <label for="form-plan">{{ localisation.t.Plan ?? 'Plan' }}</label>
  <div class="invalid-feedback" *ngIf="isInvalidPlan">
    {{ validationErrors(planErrors, localisation.t.Plan ?? 'Plan') }}
  </div>
</div>
<div class="form-floating mb-3">
  <input type="text" class="form-control" placeholder="Sum" id="form-sum" formControlName="sum" [ngClass]="{
            'is-invalid': isInvalidSum,
            'is-valid': parentForm.valid,
          }">
  <label for="form-sum">Sum</label>
  <div class="invalid-feedback" *ngIf="isInvalidSum">
    {{ validationErrors(sumErrors, 'Sum') }}
  </div>
</div>
