.clicker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
}

.click {
  position: fixed;
  font-size: 2rem;
  pointer-events: none;
}
