.clicker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
}

.click {
  position: fixed;
  font-size: 2rem;
  pointer-events: none;
}

.bubble {
  position: relative;
  border-radius: 50%;
  background: white linear-gradient(to left, #7e94bf, #88bfb0);
  box-shadow: 2rem 5rem 5rem rgba(0, 0, 0, 0.2);
}

.bubble:before {
  content: "";
  position: absolute;
  display: block;
  top: 5%;
  left: 7%;
  height: 90%;
  width: 90%;
  border-radius: 50%;
  background: #84b9bf;
  opacity: 0.8;
  overflow: hidden;
}

.bubble:after {
  content: "";
  position: absolute;
  display: block;
  top: 25%;
  left: 70%;
  height: 25%;
  width: 9%;
  border-radius: 50%;
  background: white;
  overflow: hidden;
}
