<section class="accent-border accent-border-top accent-bg-shadow card rounded-5 h-100">
  <div class="hstack p-3 pb-0 color-accent">
    <span class="m-auto text-center h5">Wallet</span>
    <div class="p-2 px-4">
      <svg class="bi" style="width: 2rem;height: 2rem">
        <use [attr.xlink:href]="'#' + symbols.wallet"/>
      </svg>
    </div>
  </div>
  <div class="d-flex flex-column h-100 mb-5">
    <form class="m-auto p-3">
      <wallet-balance-input [walletBalance]="walletBalance"></wallet-balance-input>
    </form>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="dateOfBirth">Date of birth</label>
          <div class="input-group">
            <input
              id="dateOfBirth"
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp"
              ngbDatepicker
              #dp="ngbDatepicker"
            />
            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>

  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

  <pre>{{ closeResult }}</pre>
</section>
