<section class="accent-border accent-border-top accent-bg-shadow rounded-5 tg-bg-secondary h-100">
  <div class="hstack p-3 pb-0 color-accent">
    <span class="m-auto text-center h5">
      <svg class="bi">
        <use [attr.xlink:href]="'#' + symbols.currencyExchange"/>
      </svg>
      {{ localisation.messages.BalanceManagement ?? 'Balance management' }}
    </span>
  </div>
  <div class="overflow-auto" style="max-height: calc(var(--tg-viewport-stable-height, 200) * 0.7)">
    <balance-main/>
  </div>
</section>
